.App {
    font-family: sans-serif;
    text-align: center;
  }
  .modal {
    background: rgba(0, 0, 0, 0.6);
  }
  .modal-container {
    position: absolute;
    width: 30%;
    background: #e5e5f1;
    left: 36%;
    /* top: 30%; */
    padding: 20px;
  }

  .modal-containers {
    position: absolute;
    width: 30%;
    background: #e5e5f1;
    left: 36%;
    top: 25%;
    padding: 20px;
  }


  .sign-in-input-field-container {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin-top: 15px;
}

.select {
    font-size: 18px;
    font-family: 'poppins';
    outline: none;
    border: none;
    margin: 10px 20px;
    width: -webkit-fill-available;        
}

  