.profilepic{
  
    width: 907px;
    height: 343px;
   
}

.profilepicedit{
    position: absolute;
width: 40px;
height: 40px;
left: 1223px;
top: 368px;
filter: invert(100%);
background: rgba(217, 217, 217, 0.3);
}
.editing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.w-700{
    width: 700px;
}

.inputchange{
    flex-grow: 1;
    padding-right: 243px;
    /* margin-right: 50px; */
    padding-left: 36px;
}

.popup-container{
    z-index: 1000;
    width: 70%;
    height: 100%;
    justify-content:center;
    align-items:center;
    display: flex;
    position: absolute;
}
.popup-container .popup-box{
    width: 385px;
    height: 180px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    position: relative;
    background: grey;
}

.popup-container .popup-box input{
    margin-left: 90px;
    margin-top: 25px;
}

.popup-container .popup-box button{
    margin-top: 10px;
    width: 41%;
    height: 36px;
    margin-left: 70px;
    border: none;
    outline: none;
    border-radius: 7px;
}

.accordion-flush, .accordion-item, .accordion-button{
    font-size: 19px;
    border-radius: 0;
    font-family: 'Poppins';
    color: black;
    font-weight: 600;
}
.accordion-button:not(.collapsed) {
    /* color: var(--bs-accordion-active-color); */
   background-color: #d1d4fd;
    box-shadow: inset 0 calc(var(--bs-accordion-border-width) * -1) 0 var(--bs-accordion-border-color);
}