.main-div
{
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 3px 3px 13px #403c3c;
    /* background-color: #f6f9f2!important; */
    border: none!important;
    
}
.title
{
    font-weight: 600;
    font-size: 1.3pc;
    font-size: 1.5pc;
    color: black;
}
.tag{
    font-weight: 600;
    padding: 10px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.lan-Tag{
    padding-bottom: 4px !important;
    margin-left: 4px !important;
    color: rgba(44, 94, 255, 1);
    background-color: rgba(213, 227, 254, 1);
}

.ccc{
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}



.ccc1{
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: -36px;
}


.clg-Tag{
    background-color:  rgba(255, 245, 220, 1);
    color: rgba(222, 186, 129, 1);
    margin-left: 4px !important;
    margin-top: 2px !important; 
}

.auth-Tag{
    background-color: rgba(189, 241, 212, 0.973);
    color: rgba(82, 182, 125, 1);
}

.rectangle{
    background-color: rgba(255, 255, 255, 1);
    border: 2px solid rgba(44, 94, 255, 1);
    box-sizing: border-box;
    width: 130px;
    height: 46px;
    color: black;
    font-size: 19px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-radius: 10px;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
.ccdd{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'poppins';
}
.texxt{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: auto;
    margin-bottom: auto;
}

.leftt{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: flex-start;
}
.texxt span{
    margin: 12px;
    font-size: 21px;
    font-weight: 500;

}

.rightt{
    display: flex;
    flex-direction: row;
    padding: 20px 20px;

}

.rightt div{
    margin: 5px;
}

.boxx{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

.boxleft{
    width: 75%;
    display: flex;
    flex-direction: column;
}
.boxright{
    width: 20%;
    display: flex;
    flex-direction: column;
}

.cvv{
    margin: 7px;
}

.row-container-cust {
    display: flex;
    flex-direction: row;
}

.rectangle {
    cursor: pointer;
}

.heading-container {
    font-weight: 600;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 23px;
}
