.search-bar-button {
    background-color: #2C5EFF; 
    border-radius: 9px; 
    border-color: none; 
    border-width: 0ch;
    color: white;
    font-weight: 400;
    font-family: 'poppins';
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 20px;
    box-shadow: 0px 0px 30px 0px rgba(44,94,255,0.75);
}

.search-bar-button:hover {
    cursor: pointer;
}