.tag-container {
    border-radius: 30px;
    padding: 4px 20px;
    font-size: 16px;
    font-family: 'poppins';
    width: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}