.tittle {
    margin: 2%;
    color: #1e90ff !important;
    font-size: 1.7em;
    font-weight: bold;
    text-decoration: underline;
}

.cddd{
    color: #1e90ff !important;
    font-size: 1.7em;
    font-weight: 700;
    text-decoration: underline;
}

.inputt label {
    color: #2B2E4A !important;
    font-size: 1em;
    font-weight: 500;
}

.inputt input {
    width: 100% !important;
    background-color: #F4F5F6 !important;
}

.inputt .msg {
    height: 6em !important;
}

.submit {
    width: 120%;
}

.ll{
    text-align: left;
}

.cc{
    text-align: center;
    height: 44px;
    width: 150px;
}